@CHARSET "UTF-8";
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
Página de Projetos
*/

.projeto .panel-group dd {
	text-align: justify;
}


/* Classe para Fontes */

.open_regular {
	font-family: 'open_sansregular';
}

.open_light {
	font-family: 'open_sanslight';
}

.open_semibold {
	font-family: 'open_sanssemibold';
}

.font12 {
	font-size: 12px;
}

.font14 {
	font-size: 14px;
}

.font13 {
	font-size: 13.54px;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font20 {
	font-size: 20px;
}

.font22 {
	font-size: 22px;
}

.font24 {
	font-size: 22px;
}


.colorTextGray {
	color: #585858;
}

.colorTextGrayDark {
	color: #535353;
}

.colorTexBlue {
	color: #1299CB;
}

.colorTextWhite{
	color: white;
}


/* Fim Classe para Fontes */