@CHARSET "UTF-8";

html,body {
	padding: 0;
	margin: 0;
/* 	height: 100%; */
}

body {
	padding-bottom: 0;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}

#conteudo {
	position: relative;
	display: block;
	width: 100%;
/* 	min-height: 100%; */
}

#pagina {
	position: relative;
	width: 904px;
	margin: 50px auto;
	display: block;
}

.beforeHeader {
	height: 50px;
	top: 30px;
	margin-top: 30px;
	width: 82%;
}
.social {
	width: 33px !important;
	margin-left: 10px !important;
	margin-top: -7px;
}

.searchLi{
	margin-left: 10px !important;
}

.searchImg {
	height: 30px;
	margin-top: -10px;
	margin-right: -5px;
	margin-left: 10px;
}

#redeSociais {
	position: relative;
	float: right;
	width: 800px;
}

header {
	width: 100%;
	position: relative;
}

.logoTopo{
	margin-left: 18%;
	margin-top: -30px;
	position: absolute;
	overflow: hidden;
	z-index: 9999;
}

#menu {
	width: 100%;
	height: 50px;
	background: #1299CB;
	text-align: right;
}

#menu ul {
	height: 50px;
	width: 904px;
	margin: auto;
}

#menu li {
	height: 40px;
	text-align: center;
	padding-top: 13px;
}

#menu li a {
	color: white;
	padding: 15px 15px 20px 15px;
}

#menu li a:hover {
	text-decoration: none;
	background: #1088B6;
	height: 40px;
	width: 60px;
}

.setaMenu {
	background: url(../img/setaMenu.png) no-repeat center bottom;
}

#banner {
	width: 100%;
}

.carousel .item > img {
  height: 444px;
  width: 100%;
}

#firstLine .thumbnail{
	width: 250px;
	margin: auto;
	background-color: #F4F4F4;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 3px 3px 5px #DDDDDD;
	-moz-box-shadow: 3px 3px 5px #DDDDDD;
	box-shadow: 3px 3px 5px #DDDDDD;
	border-top: solid 5px #1088B6;
	overflow: hidden;
}

.labelParticoes{
	position: relative;
	float: right;
}

.labelParticoes h5{
	text-align: center;
	color: white;
	font-weight: normal;
	width: 90px;
	padding: 10px;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.textoCaixas {
	margin-top: 50px;
}

.col1{
	
}

.col2{
	
}

#secondLine {
	margin-top: 70px;
	margin-left: 10px;
	margin-bottom: 50px;
}

#secondLine .thumbnail{
	width: 250px;
	margin: auto;
	background-color: #F4F4F4;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 3px 3px 5px #DDDDDD;
	-moz-box-shadow: 3px 3px 5px #DDDDDD;
	box-shadow: 3px 3px 5px #DDDDDD;
	border-top: solid 5px #1088B6;
	overflow: hidden;
}

#thirdLine {
	
}

.login {
	background-color: #1299CB !important;
	margin-right: 0px !important;
}

form[name="loginform"] {
	height: 197px;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.login-username {
	margin-bottom: 0px;
}

.login-password {
	margin-bottom: 0px;
}

.login-remember {
	
}

.login-submit {
}

input[name="wp-submit"]{
	border: none;
	border-radius: 3px;
	background-color: white;
	font-family: 'open_sansregular';
	font-size: 12px;
	color: #0069B5;
	width: 70px;
	float: right;
	margin-right: 20px;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

input[name="wp-submit"]:hover{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#1299CB));
	background-image: -webkit-linear-gradient(top, #0088cc, #1299CB);
	background-image: -o-linear-gradient(top, #0088cc, ##1299CB);
	background-image: linear-gradient(to bottom, #0088cc, #1299CB);
	background-image: -moz-linear-gradient(top, #0088cc, #1299CB);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid white;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/* Classes auxiliares */
.backgroudWhite {
	background-color: white;
	padding: 5px;
	margin-bottom: 15px;
}

.backgroundBlueWhite {
	background-color: #1299CB;
}

.backgroundBlueDark {
	background-color: #1088B6;
}

.btnStyle {
	margin-bottom: 15px;
	margin-top: 15px;
	float: right;
}

.linkStyle {
	float: right;
	margin-top: 20px;
}

.linkStylePost {
	float: right;
	margin-top: 5px;
}

.ulInsideLi {
	margin-bottom: 50px;
	overflow: hidden;
}

.dataPostStyleDia {
	text-align: center;
	font-weight: bold;
	height: 35px;
	padding-top: 10px;
	width: 55px;
}

.dataPostStyleMes {
	text-align: center;
	font-weight: bold;
	height: 30px;
	padding-top: 10px;
	margin-top: -10px;
	width: 55px;
	text-transform: uppercase;
}

.ulPost {
	margin-bottom: 30px;
	overflow: hidden;
}

#carrosel {
	margin: auto;
	width: 850px;
}

#carrosel li {
	border: solid 1px #DADADA;
	margin: 5px;
}

#carrosel li img {
	margin-top: 3px;
	margin-bottom: 5px;
}


footer {
	background-color: #DADADA;
	min-height: 240px; 
}

.dadosFooter {
	width: 904px;
	margin: auto;
}

.dadosFooter h3 {
	color: #6C6C6C;
	background-color: #DADADA;
	font-weight: normal;
}

.liInside {
	width: 285px !important;
	border-right: solid 1px #BABABE;
	margin-top: 40px;
	min-height: 170px !important;
}

.liInside p {
	padding-right: 25px;
}

.liInside2 {
	width: 362px !important;
	border-right: solid 1px #BABABE;
	margin-top: 40px;
}

.liInside2 p {
	padding-right: 25px;
}

.liInside3 {
	width: 212px !important;
	margin-top: 40px;
}

.liInside3 p {
	padding-right: 25px;
}

.linkStyleFooter {
	float: right;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent; 
	border-right: 30px solid white; 
	background-color: #DADADA;
}

.footerContato {
	width: 170px;
	margin-right: 0px;
	padding-right: 0px !important;
}

/*
Página de projeto
*/
.projeto .panel-group dt {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.projeto .panel-group dt a {
	color: #666666;
}

.projeto .panel-group dt span {
	color: #666666;
}

.projeto .panel-group dd {
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;	
}

.header_projeto {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_projeto h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
	
}

.padding_top {
	padding-top: 30px;
}

/*
Página de serviços
*/

.servicos {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	min-height: 303px;
}

.header_servicos {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_servicos h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
	
}

.servicos p {
	padding: 10px 15px;
}

/*
Página de notícias
*/

.noticias {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	min-height: 303px;
}

.header_noticias {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_noticias h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
}

.noticias p {
	padding: 10px 15px;
}

/*
Página de contato
*/

.contato {
}

.header_contato {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_contato h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
}

.contato p {
	padding: 10px 15px;
}

.contato form {
	border: 1px solid #DDDDDD;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.contato form label{
	
}

.contato form input{
	width: 300px;
}

.contato form textarea {
	width: 450px;
}

.btnStyleContato {
	background: #EEEEEE !important;
	color: #006dcc !important;
}

.alert {
	display: none;
}

/*Classes auxiliares*/

.byCC {
	float: right;
	margin-top: 55px;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#1299CB));
	background-image: -webkit-linear-gradient(top, #0088cc, #1299CB);
	background-image: -o-linear-gradient(top, #0088cc, ##1299CB);
	background-image: linear-gradient(to bottom, #0088cc, #1299CB);
	background-image: -moz-linear-gradient(top, #0088cc, #1299CB);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #1088B6;
}