@CHARSET "UTF-8";

html,body {
	padding: 0;
	margin: 0;
/* 	height: 100%; */
}

body {
	padding-bottom: 0;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}

#conteudo {
	position: relative;
	display: block;
	width: 100%;
/* 	min-height: 100%; */
}

#pagina {
	position: relative;
	width: 904px;
	margin: 50px auto;
	display: block;
}

#pagina2 {
	position: relative;
	width: 86%;
	margin: 50px auto;
	display: block;
}

.beforeHeader {
	height: 50px;
	top: 30px;
	margin-top: 30px;
	width: 82%;
}
.social {
	width: 33px !important;
	margin-left: 10px !important;
	margin-top: -7px;
}

.searchLi{
	margin-left: 10px !important;
}

.searchImg {
	height: 30px;
	margin-top: -10px;
	margin-right: -5px;
	margin-left: 10px;
}

#redeSociais {
	position: relative;
	float: right;
	width: 800px;
}

header {
	width: 100%;
	position: relative;
}

.logoTopo{
	margin-left: 7%;
	margin-top: -30px;
	position: absolute;
	overflow: hidden;
	z-index: 9999;
}

#menu {
	width: 100%;
	height: 50px;
	background: #1299CB;
	text-align: right;
}

#menu ul {
	height: 50px;
	width: 904px;
	margin: auto;
}

#menu li {
	height: 40px;
	text-align: center;
	padding-top: 13px;
}

#menu li a {
	color: white;
	padding: 15px 15px 20px 15px;
}

#menu li a:hover {
	text-decoration: none;
	background: #1088B6;
	height: 40px;
	width: 60px;
}

.setaMenu {
	background: url(../img/setaMenu.png) no-repeat center bottom;
}

#banner {
	width: 100%;
}

.carousel .item > img {
  height: 444px;
  width: 100%;
}

#firstLine .thumbnail{
	width: 250px;
	margin: auto;
	background-color: #F4F4F4;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 3px 3px 5px #DDDDDD;
	-moz-box-shadow: 3px 3px 5px #DDDDDD;
	box-shadow: 3px 3px 5px #DDDDDD;
	border-top: solid 5px #1088B6;
	overflow: hidden;
}

.labelParticoes{
	position: relative;
	float: right;
}

.labelParticoes h5{
	text-align: center;
	color: white;
	font-weight: normal;
	width: 90px;
	padding: 10px;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.textoCaixas {
	margin-top: 50px;
}

.col1{
	
}

.col2{
	
}

#secondLine {
	margin-top: 70px;
	margin-left: 10px;
	margin-bottom: 50px;
}

#secondLine .thumbnail{
	width: 250px;
	margin: auto;
	background-color: #F4F4F4;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 3px 3px 5px #DDDDDD;
	-moz-box-shadow: 3px 3px 5px #DDDDDD;
	box-shadow: 3px 3px 5px #DDDDDD;
	border-top: solid 5px #1088B6;
	overflow: hidden;
}

#thirdLine {
	
}

.login {
	background-color: #1299CB !important;
	margin-right: 0px !important;
}

form[name="loginform"] {
	height: 197px;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.login-username {
	margin-bottom: 0px;
}

.login-password {
	margin-bottom: 0px;
}

.login-remember {
	
}

.login-submit {
}

input[name="wp-submit"]{
	border: none;
	border-radius: 3px;
	background-color: white;
	font-family: 'open_sansregular';
	font-size: 12px;
	color: #0069B5;
	width: 70px;
	float: right;
	margin-right: 20px;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

input[name="wp-submit"]:hover{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#1299CB));
	background-image: -webkit-linear-gradient(top, #0088cc, #1299CB);
	background-image: -o-linear-gradient(top, #0088cc, ##1299CB);
	background-image: linear-gradient(to bottom, #0088cc, #1299CB);
	background-image: -moz-linear-gradient(top, #0088cc, #1299CB);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid white;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/* Classes auxiliares */
.backgroudWhite {
	background-color: white;
	padding: 5px;
	margin-bottom: 15px;
}

.backgroundBlueWhite {
	background-color: #1299CB;
}

.backgroundBlueDark {
	background-color: #1088B6;
}

.btnStyle {
	margin-bottom: 15px;
	margin-top: 15px;
	float: right;
}

.linkStyle {
	float: right;
	margin-top: 20px;
}

.linkStylePost {
	float: right;
}

.ulInsideLi {
	margin-bottom: 50px;
	overflow: hidden;
}

.dataPostStyleDia {
	text-align: center;
	font-weight: bold;
	height: 35px;
	padding-top: 10px;
	width: 55px;
}

.dataPostStyleMes {
	text-align: center;
	font-weight: bold;
	height: 30px;
	padding-top: 10px;
	margin-top: -10px;
	width: 55px;
	text-transform: uppercase;
}

.ulPost {
	margin-bottom: 30px;
	overflow: hidden;
}

#carrosel {
	margin: auto;
	width: 850px;
}

#carrosel li {
	border: solid 1px #DADADA;
	margin: 5px;
}

#carrosel li img {
	margin-top: 3px;
	margin-bottom: 5px;
}


footer {
	background-color: #DADADA;
	min-height: 240px; 
}

.dadosFooter {
	width: 904px;
	margin: auto;
}

.dadosFooter h3 {
	color: #6C6C6C;
	background-color: #DADADA;
	font-weight: normal;
}

.liInside {
	width: 285px !important;
	border-right: solid 1px #BABABE;
	margin-top: 40px;
	min-height: 170px !important;
}

.liInside p {
	padding-right: 25px;
}

.liInside2 {
	width: 362px !important;
	border-right: solid 1px #BABABE;
	margin-top: 40px;
}

.liInside2 p {
	padding-right: 25px;
}

.liInside3 {
	width: 212px !important;
	margin-top: 40px;
}

.liInside3 p {
	padding-right: 25px;
}

.linkStyleFooter {
	float: right;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent; 
	border-right: 30px solid white; 
	background-color: #DADADA;
}

.footerContato {
	width: 170px;
	margin-right: 0px;
	padding-right: 0px !important;
}

/*
Página de projeto
*/
.projeto .panel-group dt {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.projeto .panel-group dt a {
	color: #666666;
}

.projeto .panel-group dt span {
	color: #666666;
}

.projeto .panel-group dd {
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;	
}

.header_projeto {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_projeto h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
	
}

.padding_top {
	padding-top: 30px;
}

/*
Página de serviços
*/

.servicos {
	color: #333;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	min-height: 303px;
}

.servicos h2 {
	line-height: 20px;
	padding: 0px;
}

.header_servicos {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_servicos h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
	
}

.servicos p img {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

/*
Página de notícias
*/

.noticias {
	color: #333;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	min-height: 303px;
}

.header_noticias {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_noticias h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
}

.title_maior {
	width: 212px !important;
}
.projeto .panel-group dt {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.noticias .panel-group dt a {
	color: #666666;
}

.noticias .panel-group dt span {
	color: #666666;
}

.noticias .panel-group dd {
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;	
}

.noticias .panel-group dd img {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.textLimiter {
	margin-bottom: 0px;
}

/*
Página de Quem somos
*/
.quem_somos {
	text-align: justify;
	width: 98%;
}
/*
Página de contato
*/

.contato {
	background: #F5F5F5;
}

.header_contato {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_contato h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
}

.contato p {
	padding: 10px 15px;
}

.contato form {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
}

.contato form label{
	
}

.contato form input{
	width: 300px;
	height: 33px;
}

.contato form textarea {
	width: 450px;
	margin-bottom: 25px;
}

.btnStyleContato {
	background: #EEEEEE !important;
	color: #006dcc !important;
}

.contato form fieldset {
	width: 45%;
	float: left;
}

.alert {
	display: none;
}

.sucesso {
	display: block !important;
}

/* Cadastro de Pacientes */
.cadastro-paciente {
	
}

.header_cadastro-paciente {
	padding-top: 10px;
	border-top: 3px solid #1088B6;
}

.header_cadastro-paciente h1 {
	position: relative;
	background-color: #1088B6;
	margin: -10px -4px 10px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px;
	padding-left: 15px;
	margin-bottom: 40px;
}

.cadastro-paciente .cabecalho {
	border: 1px solid;
	padding: 10px 0;
	width: 99.8%;
}

.cadastro-paciente .cabecalho p {
	padding: 0;
	margin: 0;
}

.cadastro-paciente .title {	
	padding: 25px 0;
}

.cadastro-paciente p {
	padding: 10px 15px;
}

.cadastro-paciente form {
	padding-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
}

.cadastro-paciente form label{
	
}

.cadastro-paciente form input{
	width: 250px;
	height: 25px;
}

.cadastro-paciente form textarea {
	width: 450px;
	margin-bottom: 25px;
}

.cadastro-paciente form fieldset {
	width: 100%;
	float: left;
	margin: 5px 0;
}

.cadastro-paciente form fieldset div {
	width: 33%;
	float: left;
}

.cadastro-paciente form .numero {
	width: 150px;
}

.cadastro-paciente form .sessao {
	margin-bottom: 2%;
}

.cadastro-paciente form .sessao h5 {
	background: #F3F3F3;
	padding: 1% 0;
	margin-bottom: 4%;
}

.cadastro-paciente form .sessao .div_full {
	width: 100%;
}

.cadastro-paciente form .sessao .div_maior {
	width: 66%;
}

.cadastro-paciente form .sessao .input_maior {
	width: 95%;
}

.cadastro-paciente form .sessao .div_media {
	width: 50%;
}

.cadastro-paciente form .sessao .input_media {
	width: 95%;
}

.cadastro-paciente form .sessao .input_menor {
	width: 150px;
}


.cadastro-paciente form input[type='radio'] {
	width: 20px;
	height: 16px;
	margin-top: 0px;
}

.cadastro-paciente form .radio-label {
	margin-right: 3%;
}

.cadastro-paciente form .interior {
	width: 65%;
}

.cadastro-paciente form .interior input {
	width: 211px;
}

.cadastro-paciente form .radio-div {
	margin-top: 11px;

}

.cadastro-paciente form .div_estado {
	width: 31%;
}

.cadastro-paciente form .idoso_div {
	width: 70%;
}

.cadastro-paciente form .idoso_div input {
	width: 286px;
}

.cadastro-paciente form .radio-idoso {
	margin-top: 11px;
	width: 29%;

}

.cadastro-paciente form .radio-ocupacao {
	margin-top: 11px;
	width: 40%;

}

.cadastro-paciente form .ocupacao_div {
	width: 70%;
}

.cadastro-paciente .div_radio {
	width: 20%;
}

.cadastro-paciente .div_serie {
	width: 40%;
} 

.cadastro-paciente .div_serie label {
	width: 13%;
	float: left;
}

.atendimento .divisao {
	overflow: hidden;
	margin-bottom: 3%;

}

.atendimento h6 {
	padding: 1%;
	width: 20%;
	background: rgb(233, 252, 255);
}

.atendimento .opcao_check {
	width: 25%;
	float: left;
}

.atendimento h6 input[type="date"] {
	width: 53% !important;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0px;
}

.atendimento input {
	width: 25px !important;
	height: 16px !important;
	margin-top: 0px;
}

.atendimento .att2, .atendimento .att3, .atendimento .att4, .atendimento .att5, .atendimento .att6 {
	display: none;
}

.atendimento .att1 .botao_adicionar,
.atendimento .att2 .botao_adicionar,
.atendimento .att3 .botao_adicionar,
.atendimento .att4 .botao_adicionar,
.atendimento .att5 .botao_adicionar,
.atendimento .att6 .botao_adicionar{
	margin-left: 0;
}

.atendimento .att1 .botao_adicionar p,
.atendimento .att2 .botao_adicionar p,
.atendimento .att3 .botao_adicionar p,
.atendimento .att4 .botao_adicionar p,
.atendimento .att5 .botao_adicionar p,
.atendimento .att6 .botao_adicionar p {
	padding-left: 0;
	padding-top: 2%;
}

.religiao .div_radio {
	width: 30%;
}

.residencias h6 {
	padding: 1%;
	width: 20%;
	background: rgb(233, 252, 255);
}

.residencia {
	
}

.aspectos .div_radio {
	width: 16%;
	display: inline-block;
}

.aspectos textarea {
	width: 97% !important;
}

.centro .div_radio {
	width: 50%;
}

.historia_familiar .div_maior {
	width: 88% !important;
}

.historia_familiar .div_menor {
	width: 12%;
}

.historia_familiar .div_menor .div_radio {
	width: 50%;
}

.antecedentes .label-p {
	padding-left: 0;
	float: left;
	padding-top: 0;
}

.antecedentes .div_radio {
	width: 11%;
	padding-top: 0px;
}

.antecedentes .div_menor {
	width: 44%;
}

.antecedentes .div_maior {
	width: 53% !important;
}

.medicamentos .primeiro, .medicamentos_uso .primeiro {
	margin-left: 0;
}

.medicamentos input {
	width: 90% !important;
}

.medicamentos .input_menor {
	width: 75% !important;
}

.medicamentos .mais, .medicamentos_uso .mais {
	vertical-align: super;
}

.medicamentos .dois, .medicamentos .tres, .medicamentos .quatro {
	display: none;
} 

.medicamentos .linha2, .medicamentos .linha3, .medicamentos .linha4 {
	display: none;
} 

.medicamentos_uso .linha .primeiro {
	margin-left: 0;
}

.medicamentos_uso .linha {
	overflow: hidden;
	border: 1px solid #DDDDDD;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 2%;
}
.medicamentos_uso .linha input{
	width: 90%;
}

.medicamentos_uso .linha .input_menor {
	width: 75% !important;
}

.medicamentos_uso .obs p{
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

.medicamentos_uso .dois_uso,
.medicamentos_uso .tres_uso,
.medicamentos_uso .quatro_uso,
.medicamentos_uso .cinco_uso, 
.medicamentos_uso .seis_uso,
.medicamentos_uso .sete_uso,
.medicamentos_uso .oito_uso,
.medicamentos_uso .uso_linha2,
.medicamentos_uso .uso_linha3,
.medicamentos_uso .uso_linha4,
.medicamentos_uso .uso_linha5, 
.medicamentos_uso .uso_linha6,
.medicamentos_uso .uso_linha7,
.medicamentos_uso .uso_linha8
{
	display: none;
}

.revisao_sistemas div {
	border: 1px solid #DDDDDD;
	padding-left: 1%;
	height: 60px;
	padding-top: 0px;
	font-size: 12px;
}
.revisao_sistemas input {
	width: 8% !important;
}

.revisao_sistemas .check {
	border: none;
	height: initial;
	float: left;
	width: 18.8%;
	font-size: 12px;
	line-height: 0;
}

.revisao_sistemas .span10 {
	width: 85%;
}

.habitos .div_radio {
	float: left;
}

.habitos .div_radio_obs {
	width: 24%;
	float: left;
}

.habitos .div_radio_obs2 {
	width: 18%;
	float: left;
}

.habitos .span2 {
	border: 1px solid #DDDDDD;
	padding-left: 10px;
}

.habitos .caixa {
	height: 64px;
	padding-top: 1.5%;
}

.habitos .caixa2 {
	height: 83px;
	padding-top: 2.5%;
}

.habitos .caixa3 {
	height: 64px;
	padding-top: 1%;
}

.habitos .caixa4 {
	height: 84px;
	padding-top: 2%;
}

.habitos .span8 {
	width: 70%;
	border: 1px solid #DDDDDD;
	padding-left: 10px;
}

.habitos p {
	padding: 0;
	font-size: 12px;
}

.habitos .div_text_obs {
	width: 28%;
	float: left;
}

.habitos .div_2 input {
	width: 25%;
	height: 17px;
	margin-top: 5px;
}

.habitos .div_2 .input_menor {
	width: 22% !important;
}

.habitos input[name="tipo_ativiadade_fisica"] {
	width: 73%;
	margin-left: 1%;
}

.habitos .div_check {
	width: 25%;
	float: left;
}

.habitos .div_check input {
	width: 7%;
	margin-top: 0;
}

.habitos input[type="text"] {
	height: 17px;
}

.exames_clinicos .col, .exames_clinicos2 .col {
	min-height: 62px;
	border: 1px solid #DDDDDD;
	margin-left: 0;
	padding-left: 5px;
}

.exames_clinicos .span2 {
	width: 16.4%;
}

.exames_clinicos .span1 {
	width: 13.87%;
} 

.exames_clinicos .span1 input[type="date"], .exames_clinicos2 .span1 input[type="date"] {
	width: 84%;
	height: 18px;
	margin-top: -15px;
	margin-bottom: 0;
	font-size: 12px;
	border: none;
}

.exames_clinicos .span1 input, .exames_clinicos2 .span1 input  {
	width: 84%;
	margin-top: 6%;
	border: none;
	border-bottom: inherit;
	box-shadow: none;
}

.exames_clinicos .span2 input {
	width: 89%;
	margin-top: 6%;
	border: none;
	border-bottom: inherit;
	box-shadow: none;
}

.exames_clinicos .span2 input[type="date"]{
	height: 16px;
	font-size: 12px;
	margin-top: -15px;
	margin-bottom: 0px;
	border: none;
}

.exames_clinicos .span4 {
	width: 34%;
}

.exames_clinicos .span4 input {
	width: 94%;
	margin-top: 3%;
	border: none;
	border-bottom: inherit;
	box-shadow: none;
}

.exames_clinicos2 .span1 {
	width: 12%;

}

.exames_clinicos2 .span1 input[type="date"] {
	margin-top: 7px;
	font-size: 11px;
}

.exames_clinicos2 .span3 {
	text-align: center;
}

.exames_clinicos2 .span3 p {
	padding: 0;
	margin-bottom: 2.2px;
}

.exames_clinicos2 .span5 {
	width: 28%;
}

.exames_clinicos2 .span5 input{
	width: 93%;
	border: none;
	border-bottom: inherit;
	box-shadow: none;
	margin-bottom: 12px;
}

.exames_clinicos2 .div_radio {
	width: 100%;
	margin-bottom: 7px;
}

.exames_clinicos2 .div_radio input {
	width: 14% !important;
	display: table;
	margin-left: 25%;
	float: left;
}

.exames_clinicos2 .div_radio p {
	width: 35%;
	display: table;
	margin-bottom: 0;
	margin-top: -4px;
	text-align: left;

}

.exames_clinicos2 h6 {
	margin-bottom: 8px;
}

.evolucao textarea {
	width: 98.5% !important;
}

.formulario {
	padding: 10px;
	border: solid 1px #DDDDDD;
}

/* FIcha Dois */
.perguntas_aderencia {
	margin-left: 5px !important;
}
.perguntas_aderencia .radio-div {
	width: 9%;
	float: left;
}

.perguntas_aderencia .checkbox {
	width: 15%;
	float: left;
}

.perguntas_aderencia .checkbox input {
	width: inherit;
	height: inherit;
}

.perguntas_aderencia p {
	padding-left: 0;
	margin-bottom: 0;
}


.perguntas_aderencia .input_menor {
	width:  5% !important;
}

.perguntas_aderencia .resposta {
	padding-left: 7%;
}

.perguntas_aderencia .resposta .div_radio{
	width: 25%;
}

.perguntas_aderencia .continua p {
	float: left;
}

.perguntas_aderencia .continua .div_radio {
	margin-top: 2.5%;
}

#busca_paciente {
	border: 1px solid #DDDDDD;
	padding: 2%;
}

.lista {
	border: 1px solid #DDDDDD;
	margin-bottom: 2%;
}

.busca_resultado .lista:nth-child(odd) {
	background: #F1F1F1;
}

.lista .label2 {
	width: 7.2%;
	color: #5A5A5A;
	font-weight: bold;
}

.lista .label3 {
	width: 9%;
	color: #5A5A5A;
	font-weight: bold;
}

.lista .label1 {
	font-weight: bold;
	color: #5A5A5A;
	width: 3%;
}

.lista .label1_1 {
	font-weight: bold;
	color: #5A5A5A;
	width: 4.5%;
}

.lista .result {
	margin-left: 1%;
}

.lista .pesq {
	width: 42.5%;
}

.lista .nome {
	width: 67%;
}

.lista .titulo_busca_p {
	font-weight: bold;
	width: 3%;
	padding-right: 0;
}

.lista .titulo_busca_pp {
	font-weight: bold;
	width: 3%;
	padding-right: 0;
}

.lista .titulo_busca_m {
	font-weight: bold;
	width: 8%;
	padding-right: 0;
}

.lista .titulo_busca_g {
	font-weight: bold;
	width: 9%;
	padding-right: 0;
}

.lista .linha {
	padding-left: 1%;
	padding-top: 1%;
}

.lista .edit_lista {
	font-size: 2em;
	padding-left: 10%;
}

.pergunta_9_th th {
	text-align: center;
	font-size: 12px;
}

.pergunta_9_th .radio-div {
	text-align: center;
}

/*Classes auxiliares*/

.text_align_right {
	margin: auto;
	text-align: right !important;
}

.text_align_right label {
	margin-right: 15%;
}

.primeiro {
	margin-left: 0 !important;
}

.display_none {
	display: none;
}

.byCC {
	float: right;
	margin-top: 55px;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5DC6FB), to(#258BB0));
	background-image: -webkit-linear-gradient(top, #5DC6FB, #258BB0);
	background-image: -o-linear-gradient(top, #5DC6FB, #258BB0);
	background-image: linear-gradient(to bottom, #5DC6FB, #258BB0);
	background-image: -moz-linear-gradient(top, #5DC6FB, #258BB0);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #1088B6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5DC6FB), to(#258BB0));
	background-image: -webkit-linear-gradient(top, #5DC6FB, #258BB0);
	background-image: -o-linear-gradient(top, #5DC6FB, #258BB0);
	background-image: linear-gradient(to bottom, #5DC6FB, #258BB0);
	background-image: -moz-linear-gradient(top, #5DC6FB, #258BB0);
}

.no_padding_left {
	padding-left: 0 !important;
}

.no_marging_left{
	margin-left: 0 !important;
}

.no_margin_bottom {
	margin-bottom: 0 !important;
}

.no_margin_top {
	margin-top: 0 !important;
}